<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>注册 - 登录 - SSO - Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css"/>
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 class="main-title hide">SSO</h1>
        <h2 class="sub-title">生活热爱分享 - Thousands Find</h2>
    </div>

    <div class="cont-main clearfix">
        <div class="index-tab">
            <div class="index-slide-nav">
                <a href="./login.html">登录</a>
                <a href="./register.html" class="active">注册</a>
                <div class="slide-bar slide-bar1"></div>
            </div>
        </div>
        <form id="form-register" method="post" onsubmit="return false;">
            <div class="login form">
                <div class="group">
                    <div class="group-ipt user">
                        <input type="text" name="username" id="username" class="ipt" placeholder="设置用户名"/>
                    </div>
                    <div class="group-ipt password">
                        <input type="password" name="password" id="password" class="ipt" placeholder="设置登录密码"/>
                    </div>
                    <div class="group-ipt password1">
                        <input type="password" name="password1" id="password1" class="ipt" placeholder="重复密码"/>
                    </div>
                    <!--<div class="group-ipt verify">-->
                    <!--<input type="text" name="verify" id="verify" class="ipt" placeholder="输入验证码" required>-->
                    <!--<img src="http://zrong.me/home/index/imgcode?id=" class="imgcode">-->
                    <!--</div>-->
                </div>
            </div>


            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button"
                        onclick="REGISTER.reg()">注册</button>
            </div>
        </form>
    </div>
</div>

<!--<div class="footer">-->

<!--</div>-->

<script src='../static/js/particles.js' type="text/javascript"></script>
<script src='../static/js/background.js' type="text/javascript"></script>
<script src='../static/js/jquery.min.js' type="text/javascript"></script>
<script src='../static/js/layer/layer.js' type="text/javascript"></script>
<script src='../static/js/index.js' type="text/javascript"></script>
<script>

    var REGISTER = {
        param: {
            //单点登录系统的url
            surl: ""
        },
        inputcheck: function () {
            //不能为空检查
            if ($("#username").val().trim() == "") {
                alert("用户名不能为空");
                $("#username").focus();
                return false;
            }
            if ($("#password").val() == "") {
                alert("密码不能为空");
                $("#pwd").focus();
                return false;
            }
            //密码检查
            if ($("#password").val() != $("#password1").val()) {
                alert("确认密码和密码不一致，请重新输入！");
                $("#password1").select();
                $("#password1").focus();
                return false;
            }
            return true;
        },
//        beforeSubmit: function () {
//            //检查用户是否已经被占用
//            $.ajax({
//                url: REGISTER.param.surl + "/user/check/" + escape($("#regName").val()) + "/1?r=" + Math.random(),
//                success: function (data) {
//                    if (data.data) {
//                        //检查手机号是否存在
//                        $.ajax({
//                            url: REGISTER.param.surl + "/user/check/" + $("#phone").val() + "/2?r=" + Math.random(),
//                            success: function (data) {
//                                if (data.data) {
//                                    REGISTER.doSubmit();
//                                } else {
//                                    alert("此手机号已经被注册！");
//                                    $("#phone").select();
//                                }
//                            }
//                        });
//                    } else {
//                        alert("此用户名已经被占用，请选择其他用户名");
//                        $("#regName").select();
//                    }
//                }
//            });
//
//        },
        doSubmit: function () {
            $.post("/user/register", $("#form-register").serialize(), function (data) {
                if (data.status == 200) {
                    alert('用户注册成功，请登录！');
                    REGISTER.login();
                } else {
                    alert("注册失败！");
                }
            });
        },
        login: function () {
            location.href = "/login";
            return false;
        },
        reg: function () {
            if (this.inputcheck()) {
                this.doSubmit();
            }
        }
    };


    //    $('.imgcode').hover(function () {
    //        layer.tips("看不清？点击更换", '.verify', {
    //            time: 6000,
    //            tips: [2, "#3c3c3c"]
    //        })
    //    }, function () {
    //        layer.closeAll('tips');
    //    }).click(function () {
    //        $(this).attr('src', 'http://zrong.me/home/index/imgcode?id=' + Math.random());
    //    })
    //
    //    $(".login-btn").click(function () {
    //        var email = $("#email").val();
    //        var password = $("#password").val();
    //        var verify = $("#verify").val();
    //        // $.ajax({
    //        // url: 'http://www.zrong.me/home/index/userLogin',
    //        // type: 'post',
    //        // jsonp: 'jsonpcallback',
    //        //       jsonpCallback: "flightHandler",
    //        // async: false,
    //        // data: {
    //        // 	'email':email,
    //        // 	'password':password,
    //        // 	'verify':verify
    //        // },
    //        // success: function(data){
    //        // 	info = data.status;
    //        // 	layer.msg(info);
    //        // }
    //        // })
    //
    //    })
    //    $("#remember-me").click(function () {
    //        var n = document.getElementById("remember-me").checked;
    //        if (n) {
    //            $(".zt").show();
    //        } else {
    //            $(".zt").hide();
    //        }
    //    })
</script>
</body>
</html>