<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/common/cookie.js"></script>
</head>
<body>

<h1>client-b</h1>
<div id="login-bar">
    <h1>
        <!--<a href="http://sso.dongly.com:8080">登录</a>-->
        <!--<a href="http://sso.dongly.com:8080/register">注册</a>-->
    </h1>
</div>

<script src="/static/js/head.js"></script>
</body>
</html>
